# Golang
# Ignore Go binary files
/bin/
/obj/
/*.exe
/*.exe~
/*.out
/*.test


# Dependencies
/vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env  # <-- Added to ignore .env files